@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {

    --color-primary-50: #A8A4FF;
    --color-primary-100:#635FC7;
    --color-primary-200:#000112;
    --color-primary-300:#20212C;
    --color-primary-400:#2B2C37;
    --color-primary-500:#3E3F4E;
    --color-primary-600:#828FA3;
    --color-secondary-50:#E4EBFA;
    --color-secondary-100:#F4F7FD;
    --color-white:#FFFFFF;
    --color-secondary-400:#EA5555;
    --color-secondary-500:#FF9898;
    --color-button-1:#49C4E5;
    --color-button-2:#8471F2;
    --color-button-3:#67E2AE;

}


@theme {

    --breakpoint-xs: 320px;
    --breakpoint-sm: 360px;
    --breakpoint-md: 600px;
    --breakpoint-lg: 1114px;
    --breakpoint-2xl: 1208px;
    --breakpoint-3xl: 120rem;
}

@theme {
    --font-plus-jakarta-sans: "Plus Jakarta Sans", sans serif  
}